{% extends 'team/layout.html.twig' %}

{% block title %}Nouvelle équipe{% endblock %}
{% block navlinks %}
    
{% endblock %}
{% block content %}
    <h1>Nouvelle équipe</h1>

    {{ form(teamForm) }}
{% endblock %}