{% extends 'country/layout.html.twig' %}

{% block title %}Nouveau pays{% endblock %}
{% block navlinks %}
    
{% endblock %}
{% block content %}
    <h1>Nouveau pays</h1>

    {{ form(countryForm) }}
{% endblock %}