{% extends 'country/layout.html.twig' %}
{% block title %}
    Pays: {{ country.name }}
{% endblock %}
{% block content %}
    <div class="card flex-y">
        <h1>{{ country.name }}</h1>
        <img class="logo-l" src="/images/{{ country.logo }}" alt="Logo de {{ country.name }}" />
    </div>
{% endblock %}