{% extends 'championship/layout.html.twig' %}

{% block title %}Nouveau championnat{% endblock %}
{% block navlinks %}
    
{% endblock %}
{% block content %}
    <h1>Nouveau championnat</h1>

    {{ form(championshipForm) }}
{% endblock %}